#action_bar
  %a{:href => 'add', :class => 'btn btn-primary'}
    %i.glyphicon.glyphicon-plus
    Add Password
  %a{:href => 'logout', :class => 'btn btn-primary', :id => 'logout'}
    %i.glyphicon.glyphicon-user
    Log Out

%table.table.table-striped
  %thead
    %th Site name
    %th Password
    %th{:colspan => "2"} Actions
  %tbody
    - locals[:sites].each do |site|
      %tr
        %td #{site[0]}
        %td #{site[1]}
        %td
          %a{:href => "edit/#{site[0]}", :id => "edit_#{site[0].downcase.gsub(/\s+/, "")}", :class => 'btn btn-primary action'}
            %i.glyphicon.glyphicon-pencil
            %span Edit  
          %a{:href => "delete/#{site[0]}", :id => "delete_#{site[0].downcase.gsub(/\s+/, "")}", :class => 'btn btn-primary action'}
            %i.glyphicon.glyphicon-remove
            %span Delete